<div class="bg-primary text-light shadow">
  <p class="p-3"><span class="oi oi-arrow-left pr-4 pointer" routerLink="home"></span> Data Peace</p>
</div>
<div class="container-fluid p-5" *ngIf="user">
  <div class="mx-2">
    <div class="mb-5">
      <h1>{{user.first_name | titlecase}} {{user.last_name | titlecase}}</h1>
    </div>
    <div class="d-flex justify-content-between">
      <div class="pr-3"><h3>Company</h3></div>
      <div><h3 class="text-muted">{{user.company_name}}</h3></div>
    </div>
    <hr class="mt-0">
    <div class="d-flex justify-content-between">
      <div class="pr-3"><h3>City</h3></div>
      <div><h3 class="text-muted">{{user.city}}</h3></div>
    </div>
    <hr class="mt-0">
    <div class="d-flex justify-content-between">
      <div class="pr-3"><h3>State</h3></div>
      <div><h3 class="text-muted">{{user.state}}</h3></div>
    </div>
    <hr class="mt-0">
    <div class="d-flex justify-content-between">
      <div class="pr-3"><h3>Zip</h3></div>
      <div><h3 class="text-muted">{{user.zip}}</h3></div>
    </div>
    <hr class="mt-0">
    <div class="d-flex justify-content-between">
      <div class="pr-3"><h3>Email</h3></div>
      <div><h3 class="text-muted">{{user.email}}</h3></div>
    </div>
    <hr class="mt-0">
    <div class="d-flex justify-content-between">
      <div class="pr-3"><h3>Web</h3></div>
      <div><h3 class="text-muted">{{user.web}}</h3></div>
    </div>
    <hr class="mt-0">
    <div class="d-flex justify-content-between">
      <div class="pr-3"><h3>Age</h3></div>
      <div><h3 class="text-muted">{{user.age}}</h3></div>
    </div>
    <hr class="mt-0">
  </div>
</div>
