.mt-0 {
  border-top: 2px solid lightgrey;
}

.pointer {
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  h3.text-muted {
    font-size: 1.50em;
    padding-top: .25em;
  }
}

@media screen and (max-width: 768px) and (min-width: 521px) {
  h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 520px) {
  h3 {
    font-size: 1em;
  }
  h3.text-muted {
    font-size: .75em;
    padding-top: .25em;
  }
}
